 body {
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f8f4e3;
     color: #333;
 }

 .container {
     max-width: 600px;
     margin: 40px auto;
     padding: 20px;
     background-color: #fff5e1;
     border-radius: 12px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 }

 h1 {
     font-size: 28px;
     color: #d35400;
     text-align: center;
     margin-bottom: 30px;
 }

 textarea {
     width: 100%;
     height: 120px;
     padding: 12px;
     border: 1px solid #d35400;
     border-radius: 6px;
     box-sizing: border-box;
     margin-bottom: 20px;
     background-color: #fff;
     font-size: 16px;
     color: #555;
 }

 button {
     background-color: #d35400;
     color: #fff;
     border: none;
     padding: 12px 24px;
     border-radius: 6px;
     cursor: pointer;
     font-size: 18px;
     width: 100%;
     font-weight: bold;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
 }

 button:hover {
     background-color: #e67e22;
 }

 #whatsappBtn {
     background-color: #25D366;
     color: #fff;
     border: none;
     padding: 12px 24px;
     border-radius: 6px;
     cursor: pointer;
     font-size: 18px;
     margin-left: 10px;
     font-weight: bold;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
 }

 #whatsappBtn:hover {
     background-color: #1ebe57;
 }

 #resultado {
     margin-top: 30px;
     text-align: center;
 }

 #resultadoContent {
     margin-bottom: 20px;
     font-family: monospace;
     font-size: 16px;
     background-color: #fff;
     padding: 10px;
     border-radius: 6px;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
     white-space: pre-wrap;
     word-wrap: break-word;
 }

 .loader {
     border: 8px solid #f3f3f3;
     border-top: 8px solid #e67e22;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin 1s linear infinite;
     margin: 20px auto;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .hidden {
     display: none;
 }

 /* Estilos para dispositivos móveis */
 @media (max-width: 600px) {
     textarea {
         height: 100px;
     }

     button {
         font-size: 16px;
     }
 }