<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pedido de Cliente</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container">
            <h1>Faça seu Pedido</h1>
            <form id="pedidoForm" method="POST">
                <textarea name="pedido" id="pedido" placeholder="Digite o pedido do cliente..." required></textarea>
                <button type="submit">Enviar Pedido</button>
            </form>
            <div id="loader" class="loader hidden"></div>
            <div id="resultado" class="hidden">
                <h2>Resultado</h2>
                <pre id="resultadoContent"></pre> <!-- Usar <pre> para manter a formatação -->
                <button onclick="copiarParaAreaDeTransferencia()">Copiar Conteúdo</button>
                <button id="whatsappBtn">Enviar pelo WhatsApp</button>

            </div>
        </div>
        <script>
            document.getElementById('whatsappBtn').addEventListener('click', function () {
                const pedido = document.getElementById('resultadoContent').innerText;
                const numeroWhatsApp = '5575992121110'; // Número de telefone no formato internacional
                const mensagem = `Olá! Gerei meu pedido usando seu site, aqui está o pedido:%0A%0A${encodeURIComponent(pedido)}`;
                const url = `https://wa.me/${numeroWhatsApp}?text=${mensagem}`;
                window.open(url, '_blank');
            });

            document.getElementById('pedidoForm').addEventListener('submit', function (event) {
                event.preventDefault();

                // Exibir a animação de carregamento
                document.getElementById('loader').classList.remove('hidden');

                let formData = new FormData(this);
                fetch('/processar_pedido', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // Ocultar a animação de carregamento
                        document.getElementById('loader').classList.add('hidden');

                        // Exibir o texto formatado retornado pelo servidor
                        document.getElementById('resultadoContent').innerText = data.texto_retorno;
                        document.getElementById('resultado').classList.remove('hidden');
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        // Ocultar a animação de carregamento em caso de erro
                        document.getElementById('loader').classList.add('hidden');
                    });
            });

            function copiarParaAreaDeTransferencia() {
                const conteudo = document.getElementById('resultadoContent').innerText;
                navigator.clipboard.writeText(conteudo)
                    .then(() => {
                        alert('Conteúdo copiado para a área de transferência!');
                    })
                    .catch(err => {
                        console.error('Erro ao copiar para a área de transferência:', err);
                    });
            }
        </script>
    </body>

</html>